* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}

.ground {
  height: 20vh;
  width: 100%;
  transform: translateY(80vh);

  &-grass{
    height: 30%;
    background-color: rgb(17, 39, 9);
  }
  &-earth{
    height: 70%;
    background-color: rgb(28, 21, 11);
  }
}

.moon{
  position: absolute;
  top: 5%;
  right: 0%;
  z-index: 1;
}




