* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
}

.ground {
  height: 20vh;
  width: 100%;
  transform: translateY(80vh);

  &-grass{
    height: 30%;
    background-color: rgb(17, 39, 9);
  }
  &-earth{
    height: 70%;
    background-color: rgb(28, 21, 11);
  }
}

.moon{
  position: absolute;
  top: 5%;
  right: 0%;
  z-index: 1;
}

.small-button {
  height: 30px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  border-radius: 5px;
  margin:10px;
  &:hover{
    transform: scale(1.2);
  }
}

.choose-page {
  position: absolute;
  top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  &__button {
    width: 300px;
    height: 50px;
    font-size: 35px;
  }
}

.somelink {
  text-decoration: none;
  color: #FFFFFF;
  padding: 5px;
}

.score-btn {
  position: absolute;
  top: 20px;
  left: 30px;
}

.arrow-right {
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  transform: rotate(180deg);
  padding: 5px;
}

.first-time-block {
  display: flex;
  justify-content: space-around;
  width: 50vh;
  height: 300px;
  position: absolute;
  top: 200px;
  left: calc(50% - 25vh);
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
}

.first-time-grid {
  display: grid;
  grid-template-columns: 50px 50px;
  grid-template-rows: 50px 50px;
}

.white-border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  padding: 5px;
  width: 50px;
  height: 50px;
}


